<!DOCTYPE html>
<html>
  <head>
    <title>Catskill Community Tools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-yellow-50">
    <%= render "layouts/header" %>
    <%= turbo_frame_tag :flash do %>
      <%= render 'layouts/flash' %>
    <% end %>
    <main class="container mx-auto p-4 flex max-w-5xl">
      <%= yield %>
    </main>
  </body>
</html>
